.idea
/.vscode

.eslintcache
.cache

.tmp
*.log
npm-debug.log*

pids
*.pid
*.seed

lib-cov

.devcontainer
.env

coverage
.nyc_output
coverage.*

node_modules/
dist/
cdk.out/

.npm

tsconfig.tsbuildinfo
